/* main.css - Maximilian Schiller 2020 */

:root {
    --primary-color: rgb(78, 121, 216);
    --primary-color-hover: rgb(82, 128, 226);
    --secondary-color: rgb(61, 105, 202);
    --secondary-color-hover: rgb(71, 115, 212);
    --active: rgb(51, 86, 161);
    --active-hover: rgb(55, 93, 173);
    --accent: rgb(107, 138, 206);
    --font-color: #8a8a8a;
    --font-color-hover: #7a7a7a;
    --bg-color: #f5f6fa;
    --white: #fff;
    --white-hover: rgb(245, 245, 245);
    --underline: #fff;
    --nav: rgb(78, 121, 216);
    --input-color: rgb(230, 230, 230);
    --table-color: #ffffff;
    --table-color-nd: rgb(248, 248, 248);
    --red: #ff4d4d;
    --red-hover: #ff4343;
    --green: #5dd64d;
    --green-hover: #60e642;
    --bg-code: rgba(0, 0, 0, .05);
    --previewImage: url('/static/previews/AufgabenViewLight.png');
    --previewBg: #fff;
}

[data-theme="dark"] {
    --primary-color: #356fca;
    --primary-color-hover: rgb(82, 128, 226);
    --secondary-color: rgb(68, 68, 68);
    --secondary-color-hover: rgb(80, 80, 80);
    --active: rgb(59, 107, 219);
    --active-hover: rgb(55, 93, 173);
    --accent: rgb(107, 138, 206);
    --font-color: #d9d9d9;
    --font-color-hover: #7a7a7a;
    --bg-color: #1c1c1c;
    --white: #292929;
    --white-hover: #353535;
    --underline: rgb(78, 121, 216);
    --nav: #292929;
    --input-color: #1c1c1c;
    --table-color: #1c1c1c;
    --table-color-nd: rgb(248, 248, 248);
    --red: #ff4d4d;
    --red-hover: #ff4343;
    --green: #5dd64d;
    --green-hover: #60e642;
    --bg-code: rgba(0, 0, 0, .05);
    --previewImage: url('/static/previews/AufgabenViewDark.png');
    --previewBg: #333;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    color: var(--font-color);
    background-color: var(--bg-color);
    overflow: hidden;
}

.topnav {
    overflow: hidden;
    background-color: var(--nav);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.logo {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 11px 18px;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 2rem;
}

.logo span #id {
    margin-left: 1rem;
}

.green {
    color: var(--green);
}

.red {
    color: var(--red);
}

.blink {
    color: var(--nav);
}

.menu {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 11px 10px;
    text-decoration: none;
    font-size: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
    /* box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 11px 24px;
    background-color: var(--secondary-color); */
}

.menu #logout {
    margin-right: 1.5rem;
}

.topnav {
    padding: 13px 16px;
}

.active {
    /* background-color: var(--active); */
    position:relative;
    text-decoration:none;
    white-space:nowrap;
    color: white;
}

.active:after {
    content:"";
    position:absolute;
    height:3px;
    left:0;
    right:0;
    top:100%;
    background: var(--underline);
    transition:transform .3s cubic-bezier(.51,.92,.24,1)
}
.active:hover:after {
    transform:translateY(2px)
}
.active:active:after {
    transform:translateY(1px);
    transition:none
}
.underline {
    position:relative;
    color:#fff;
    text-decoration:none;
    transition:color .3s cubic-bezier(.51,.92,.24,1)
}
.underline:after {
    --scale:0;
    content:"";
    position:absolute;
    left:0;
    right:0;
    top:100%;
    height:3px;
    background:var(--underline);
    transform:scaleX(var(--scale));
    transform-origin:var(--x) 50%;
    transition:transform .3s cubic-bezier(.51,.92,.24,1)
}
.underline:hover {
    color:#fff
}
.underline:hover:after {
    --scale:1
}

.topnav .icon {
    display: none;
}

.burger {
    color: #f2f2f2;
}

.modeSwitcher {
    float: left;
    margin-top: -10px;
    margin-left: 10px;
}

.light {
    color: rgb(38, 57, 110);
    cursor: pointer;
}

.light:hover {
    color: rgb(51, 74, 136);
}

.dark {
    color: rgb(228, 186, 72);
    cursor: pointer;
}

.dark:hover {
    color: rgb(235, 194, 84);
}

#checkbox {
    display: block;
    opacity: 0;
    width: 10px;
    height: 10px;
}

.legend {
    height: 30px;
    border-radius: 12px;
    margin-top: 0.7rem;
    padding: 11px 24px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    font-size: 0.9rem;
}

.legend p {
    margin-top: 5px;
    color: var(--font-color);
}

#home {
    margin-top: 2rem;
    background-color: var(--previewBg);
}

.half {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0 auto;
    width: 100%;
    text-align: left;
}

.full {
    margin: 0 auto;
    padding: 10px 10px;
    width: 100%;
    max-width: 1200px;
    text-align: left;
    background-color: var(--table-color);
}

.card {
    border-radius: 6px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.card__inner {
    padding: 1.6rem 1.5rem 1.5rem;
    overflow: hidden
}

#previewBig {
    background-image: var(--previewImage);
    background-repeat: no-repeat;
    width: 1000px;
    /*or your image's width*/
    height: 800px;
    /*or your image's height*/
    margin: 0;
    padding: 0;
    float: right;
}

.dashboard {
    margin: auto;
    width: 1200px;
    margin-bottom: 2rem;
}

.dashboard h1 {
    text-align: left;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--font-color)
}

.device {
    border-radius: 12px;
    margin-top: 0.7rem;
    padding: 11px 24px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    font-size: 0.9rem;
}

.device:hover {
    background-color: var(--white-hover);
    border: 1px solid var(--primary-color-hover);
    padding: 10px 23px;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". . . . . . .";
    align-items: center;
}

.child>div {
    background-color: var(--font-color);
}

.help{
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    left: 20px;
    text-align: center;
    text-decoration: none;
    color: var(--font-color);
    font-size: 35px;
}
.text {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 20px;
    width: 100px;
}

.aufgabe {
    margin-top: 15px;
    margin-right: 5px;
    width: 400px;
    overflow-wrap: break-word;
}

.aufgabe a{
    color: var(--primary-color-hover);
    text-decoration: none;
}

.name {
    width: 70px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 20px;
}

.downloads {
    margin-top: -10px;
    margin-left: -5px;
    margin-right: 0px;
    white-space: nowrap;
    width: 120px;
}

.solution {
    margin-left: 10px;
    text-align: center;
}

.stack {
    margin-left: 10px;
    margin-right: 0px;
    text-align: center;
}

.stack p {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.arrow {
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
}

.solutionDiv{
    text-align: center;
}
.solutionDiv:hover .arrow{
    transform:translateX(2px)
}

.blue {
    font-size: 16px;
}

.message {
    font-size: 20px;
    text-align: center;
}

.message a {
    color: var(--primary-color);
    text-decoration: none;
}

.buttons {
    display: block;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--primary-color);
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 0.8rem;
    padding: 12px 15px;
    width: 100%;
}

.buttons:hover {
    background: var(--primary-color-hover);
}

.deleteButton {
    cursor: pointer;
    margin-right: -25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--primary-color);
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
    height: 100%;
    width: 60px;
    text-align: center;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.deleteButton:hover {
    background: var(--primary-color-hover);
}

.deleteIcon {
    color: #fff;
}

.trash {
    background: #fff;
    width: 17px;
    height: 16px;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.trash span {
    position: absolute;
    height: 4px;
    background: #fff;
    top: -6px;
    left: -2px;
    right: -2px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    transform: rotate(0deg);
    transition: transform 250ms;
    transform-origin: 81% 100%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.trash span::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 4px;
    background: #fff;
    top: -2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transform: rotate(0deg);
    transition: transform 250ms;
    transform-origin: 19% 100%;
    left: 7px;
}

.deleteButton:hover .trash span {
	transform: rotate(30deg);
	transition: transform 250ms;
}

.addButton {
    display: block;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin: auto;
    margin-top: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--primary-color);
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 15px 29px;
}

.addButton:hover {
    background: var(--primary-color-hover);
}

.device:hover .block-with-text:after {
    background-color: var(--white-hover);
}

.loader {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
}

.loader div {
    display: inline-block;
    position: absolute;
    z-index: 1000;
    width: 16px;
    background: var(--primary-color);
    animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loader div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.loader div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.loader div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes loader {
    0% {
        top: 8px;
        height: 64px;
    }
    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

@media screen and (max-width: 1300px) {
    .dashboard {
        width: 1000px;
    }
    .legend {
        height: 25px;
        font-size: 0.8rem;
    }
    .device {
        margin-top: 0.6rem;
        font-size: 0.8rem;
        padding: 10px 20px;
    }
    .device:hover {
        padding: 9px 19px;
    }
    .deleteButton {
        height: 100%;
        width: 55px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .text {
        margin-right: 0px;
        margin-left: 2px;
        width: 100px;
    }
    .name {
        width: 90px;
        margin-left: -5px;
    }
    .aufgabe {
        width: 390px;
        margin-right: 0px;
    }
    .downloads {
        margin-left: -60px;
        margin-right: -5px;
        width: 120px;
    }
    .stack {
        margin-left: -5px;
    }
    .stack p {
        font-size: 15px;
    }
    .blue {
        margin-top: 20px;
    }
    .menu {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .login {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 1100px) {
    .dashboard {
        width: 850px;
    }
    .legend {
        font-size: 0.7rem;
    }
    .device {
        margin-top: 0.6rem;
        font-size: 0.7rem;
        padding: 10px 15px;
    }
    .device:hover {
        padding: 9px 14px;
    }
    .text {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 20px;
        width: 80px;
    }
    .aufgabe {
        margin-top: 10px;
        margin-right: 0px;
        width: 350px;
    }
    .name {
        width: 70px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: -10px;
    }
    .downloads {
        margin-top: -5px;
        margin-left: 2px;
        margin-right: 7px;
        white-space: nowrap;
        width: 100px;
    }
    .stack {
        margin-left: 2px;
        margin-right: 2px;
    }
    .stack p {
        font-size: 14px;
    }
    .arrow {
        font-size: 25px;
        padding: 10px 0px;
    }
    .buttons {
        font-size: 0.6rem;
        padding: 10px 10px;
    }
    .addButton {
        margin-top: 1rem;
        font-size: 1rem;
        padding: 12px 25px;
    }
}

@media screen and (max-width: 880px) {
    .topnav a:not(:nth-child(2)) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
        padding: 11px 24px;
        outline: none;
        text-decoration: none;
        font-size: 23px;
        margin-right: 1rem;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        margin-top: 0.5rem;
    }
    .topnav a:hover {
        opacity: 0.8;
    }
    #checkboxIcon {
        margin-right: 20px;
    }
    .dashboard h1 {
        font-size: 1.2rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .dashboard {
        width: 550px;
    }
    .legend {
        height: 20px;
        font-size: 0.7rem;
    }
    .device {
        margin-top: 0.6rem;
        font-size: 0.5rem;
        padding: 10px 15px;
    }
    .device:hover {
        padding: 9px 14px;
    }
    .text {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 5px;
        width: 60px;
    }
    .aufgabe {
        margin-top: 10px;
        margin-right: 0px;
        width: 250px;
    }
    .blue{
        display: none;
    }
    .solution {
        margin-left: 2px;
    }
    .name {
        width: 60px;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 2px;
    }
    .downloads {
        margin-top: -10px;
        margin-left: 0px;
        margin-right: 5px;
        white-space: nowrap;
        width: 70px;
        display: none;
    }
    .stack {
        margin-left: 10px;
        margin-right: 10px;
    }
    .stack p {
        font-size: 12px;
        display: none;
    }
    .arrow {
        margin-right: 11px;
        padding: 10px 0px;
    }
    .buttons {
        margin-top: 0rem;
        font-size: 0.6rem;
        padding: 12px 12px;
    }
    .deleteButton{
        width: 30px;
    }
    .trash {
        width: 13px;
        height: 12px;
    }
    .trash span {
        height: 3px;
        top: -5px;
        left: -1px;
        right: -1px;
    }
    .trash span::after {
        width: 7px;
        height: 4px;
        top: -2px;
        left: 4px;
    }
    .addButton {
        margin-top: 1rem;
        font-size: 0.8rem;
        padding: 12px 20px;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        padding: 11px 18px;
        font-size: 17px;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .logo span {
        margin-left: 0.5rem;
    }
    .dashboard h1 {
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .dashboard {
        width: 350px;
    }
    .legend {
        font-size: 0.6rem;
        padding: 10px 15px;
    }
    .device {
        margin-top: 0.6rem;
        font-size: 0.5rem;
        padding: 10px 15px;
    }
    .device:hover {
        padding: 9px 14px;
    }
    .text {
        margin-top: 4px;
        margin-left: 2px;
        margin-right: 2px;
        width: 55px;
    }
    .solution {
        display: none;
    }
    .aufgabe {
        margin-top: 2px;
        margin-right: 0px;
        width: 150px;
    }
    .name {
        width: 55px;
        margin-top: 4px;
        margin-left: -5px;
        margin-right: -10px;
    }
    .stack {
        margin-left: 10px;
        margin-right: 10px;
    }
    .stack p {
        display: none;
    }
    .arrow {
        font-size: 20px;
        margin-left: -2px;
        padding: 5px 0px;
    }
    .arrow:hover{
        transform: none;
    }
    .buttons {
        font-size: 0.3rem;
        padding: 10px 9px;
    }
    .deleteButton {
        display: none;
    }
    .deleteButton span {
        font-size: 12px;
    }
    .addButton {
        margin-top: 1rem;
        font-size: 0.8rem;
        padding: 10px 18px;
    }
}

@media screen and (max-width: 500px) {
    .topnav a.icon {
        margin-left: -0.5rem;
        margin-right: 0.5rem;
    }
    .logo{
        margin-left: -0.5rem;
        margin-right: 0rem;
        margin-top: 0px !important;
    }
    .logo span {
        margin-left: 0rem;
    }
    .login {
        width: 350px;
        height: 370px;
        margin-top: 1.8rem;
        padding: 10px 22px;
    }
    .login h1 {
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .login p {
        margin-left: 10px;
        font-size: 0.9rem;
    }
    .login input {
        width: 320px;
        padding: 15px 16px;
    }
    .login button {
        margin-top: 1.2rem;
        font-size: 0.9rem;
        padding: 13px 35px;
    }
}