<!-- index.html - Maximilian Schiller 2020 --> 
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <title>Passwort zurücksetzen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="title" content="Konto Einstellungen">
    <meta name="description" content="Konto Einstellungen: Hier siehst du in welchen Klassen du bist, deinen Bot Key und kannst dein Passwort ändern">

    <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/account/main.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/ca8ffbc206.js" crossorigin="anonymous"></script>
    <script async src="https://stats.mxis.ch/statistik.js" data-ackee-server="https://stats.mxis.ch" data-ackee-domain-id="0c19f821-94e9-40dd-860b-339a1c57c332" data-ackee-opts='{ "detailed": true }'></script>
</head>

<body>
    <div class="topnav" id="myTopnav">
        <div class="modeSwitcher">
            <label class="theme-switch" for="checkbox" title="Klicke um das Theme zu wechseln">
              <input type="checkbox" id="checkbox"><span id="checkboxIcon" class="fas fa-adjust light" aria-hidden="true"></span></input>
            </label>
          </div>
        <a id="logo" href="/" class="logo">ZGK <span id="dot" class="green">•</span><span class="green"> online</span></a>
        <a id="login" href="/login" class="menu">Login</a>
        <a href="/home" class="menu active">Home</a>
      </div>
    <main>
        <div class="container">
            <div id="user" class="login">
                <h1 id="heading">Passwort zurücksetzen:</h1>
                <p style="text-align: center;">Bitte gib ein neues Passwort ein</p>
                <div id="form">
                    <input required class="input" onkeypress="return AvoidSpace(event)" title="Gib ein neues Passwort ein" type="password" id="password" placeholder="Passwort"/>
                    <input required class="input" onkeypress="return AvoidSpace(event)" title="Gib das Passwort erneut ein" type="password" id="repeat-password" placeholder="Passwort Wiederholen"/>
                    <button id="changeBtn" onclick="change();">Zurücksetzen</button>
                </div>
                <p class="message" id="error"></p>
                <p style="display: none;" id="token"><%=token%></p>
            </div>
        </div>
    </main>
    <script>
        /* Darkmode Support */
        const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');
        detectDarkMode()

        function AvoidSpace(event) {
            var k = event ? event.which : window.event.keyCode;
            if (k == 32) return false;
        }

        setInterval(function(){ 
            var dot = document.getElementById("dot")
            dot.className = (dot.className == 'green') ? 'blink' : 'green';
        }, 1000);

        /* Dark Mode switch logic */

        //Gets a cookie by key
        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return undefined;
        }

        //Switch theme when slider changes
        function switchThemeSlider() {
            if (toggleSwitch.checked) {
                document.documentElement.setAttribute('data-theme', 'dark');
                document.getElementById('checkboxIcon').className = "fas fa-adjust dark"
                //switchText.innerHTML = "Dark Mode"
                document.cookie = "darkmode=true;path=/;domain=zgk.mxis.ch";
            } else {
                document.documentElement.setAttribute('data-theme', 'light');
                document.getElementById('checkboxIcon').className = "fas fa-adjust light"
                //switchText.innerHTML = "Light Mode"
                document.cookie = "darkmode=false;path=/;domain=zgk.mxis.ch";
            }
        }

        //Switch between light and dark theme
        function switchTheme() {
            if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.documentElement.setAttribute('data-theme', 'dark');
                //switchText.innerHTML = "Dark Mode"
                toggleSwitch.checked = true;
                document.getElementById('checkboxIcon').className = "fas fa-adjust dark"
                document.cookie = "darkmode=true;path=/;domain=zgk.mxis.ch";
                console.log("Cookie: " + getCookie('darkmode'))
            } else {
                document.documentElement.setAttribute('data-theme', 'light');
                //switchText.innerHTML = "Light Mode"
                toggleSwitch.checked = false;
                document.getElementById('checkboxIcon').className = "fas fa-adjust light"
                document.cookie = "darkmode=false;path=/;domain=zgk.mxis.ch";
                console.log("Cookie: " + getCookie('darkmode'))
            }
        }

        //Runs in the beginning. Checks if System Dark mode is on or if preference set in cookie
        function detectDarkMode() {
            console.log("Cookie: " + getCookie('darkmode'))
            if (getCookie('darkmode') == 'false') {
                console.log("Switching to the light side")
                document.documentElement.setAttribute('data-theme', 'light');
                //switchText.innerHTML = "Light Mode";
                toggleSwitch.checked = false;
                document.getElementById('checkboxIcon').className = "fas fa-adjust light"
                document.cookie = "darkmode=false;path=/;domain=zgk.mxis.ch";
            } else if (getCookie('darkmode') == 'true') {
                console.log("Switching to the dark side")
                document.documentElement.setAttribute('data-theme', 'dark');
                //switchText.innerHTML = "Dark Mode";
                toggleSwitch.checked = true;
                document.getElementById('checkboxIcon').className = "fas fa-adjust dark"
                document.cookie = "darkmode=true;path=/;domain=zgk.mxis.ch";
            } else if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                console.log("Switching to the dark side")
                document.documentElement.setAttribute('data-theme', 'dark');
                //switchText.innerHTML = "Dark Mode";
                toggleSwitch.checked = true;
                document.getElementById('checkboxIcon').className = "fas fa-adjust dark"
                document.cookie = "darkmode=true;path=/;domain=zgk.mxis.ch";
            } else {
                console.log("Switching to the light side")
                document.documentElement.setAttribute('data-theme', 'light');
                //switchText.innerHTML = "Light Mode";
                toggleSwitch.checked = false;
                document.getElementById('checkboxIcon').className = "fas fa-adjust light"
                document.cookie = "darkmode=false;path=/;domain=zgk.mxis.ch";
            }
            window.matchMedia("(prefers-color-scheme: dark)").addListener(e => e.matches && switchTheme())
            window.matchMedia("(prefers-color-scheme: light)").addListener(e => e.matches && switchTheme())
            toggleSwitch.addEventListener('change', switchThemeSlider, false);
        }

        async function change(){
            var password = document.getElementById('password').value;
            var repeatPassword = document.getElementById('repeat-password').value;
            var token = document.getElementById('token').innerHTML;
            console.log(token)
            if(password == repeatPassword){
                const options = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({password: password, token: token})
                };
                const response = await fetch('/api/auth/reset/password', options);
                const json = await response.json();
                if (json.status == 200) {
                    console.log(json);
                    var error = document.getElementById('error');
                    error.innerHTML = "Passwort wurde geändert"
                    setTimeout(function (){
                        window.location.replace('/login');
                    }, 1000)
                } else if (json.status == 408){
                    var error = document.getElementById('error');
                    error.innerHTML = "Falsches Passwort"
                    console.log(json)
                }else if (json.status == 407){
                    var error = document.getElementById('error');
                    error.innerHTML = "Bitte fülle alle Felder aus"
                    console.log(json)
                }else if (json.status == 406){
                    var error = document.getElementById('error');
                    error.innerHTML = "Das Passwort ist zu kurz (min 8)"
                    console.log(json)
                }else if (json.status == 405){
                    var error = document.getElementById('error');
                    error.innerHTML = "Das Passwort ist zu lang (max 20)"
                    console.log(json)
                }else if (json.status == 402){
                    var error = document.getElementById('error');
                    error.innerHTML = "Das Passwort darf keine Lücken enthalten"
                    console.log(json)
                }else if (json.status == 404){
                    var error = document.getElementById('error');
                    error.innerHTML = "Der Token ist falsch oder abgelaufen"
                    console.log(json)
                }else if (json.status == 401){
                    var error = document.getElementById('error');
                    error.innerHTML = "Bitte benutze ein anderes Passwort"
                    console.log(json)
                }else {
                    var error = document.getElementById('error');
                    error.innerHTML = "Es ist ein Fehler aufgetreten, bitte warte kurz"
                    console.log(json)
                }
            }else{
                var error = document.getElementById('error');
                error.innerHTML = "Passwörter nicht identisch"
                console.log("Passwords don't match")
            }
            
        }
    </script>
</body>

</html>