/* main.css - Maximilian Schiller 2020 */
:root {
    --primary-color: rgb(78, 121, 216);
    --primary-color-hover: rgb(82, 128, 226);
    --secondary-color: rgb(61, 105, 202);
    --secondary-color-hover: rgb(71, 115, 212);
    --active: rgb(51, 86, 161);
    --active-hover: rgb(55, 93, 173);
    --accent: rgb(107, 138, 206);
    --font-color: #575757;
    --font-color-hover: #7a7a7a;
    --bg-color: #f5f6fa;
    --white: #fff;
    --white-hover: rgb(245, 245, 245);
    --black: #6a6a6a;
    --nav: rgb(78, 121, 216);
    --input-color: rgb(230, 230, 230);
    --table-color: #ffffff;
    --table-color-nd: rgb(248, 248, 248);
    --red: #ff4d4d;
    --red-hover: #ff4343;
    --green: #5dd64d;
    --green-hover: #60e642;
    --bg-code: rgba(0, 0, 0, .05);
    --previewImage: url('/static/previews/AufgabenViewLight.png');
    --previewAufgabe: url('/static/previews/AufgabeLight.png');
    --previewLehrerImage: url('/static/previews/AufgabeLehrerLight.png');
    --previewLehrerMobileImage: url('/static/previews/AufgabeLehrerMobileLight.png');
    --previewAufgabenMobileImage:  url('/static/previews/AufgabenMobileLight.png');
    --previewBg: #fff;
}

[data-theme="dark"] {
    --primary-color: #356fca;
    --primary-color-hover: rgb(82, 128, 226);
    --secondary-color: rgb(68, 68, 68);
    --secondary-color-hover: rgb(80, 80, 80);
    --active: rgb(59, 107, 219);
    --active-hover: rgb(55, 93, 173);
    --accent: rgb(107, 138, 206);
    --font-color: #d9d9d9;
    --font-color-hover: #7a7a7a;
    --bg-color: #1c1c1c;
    --white: #292929;
    --white-hover: #3d3d3d;
    --black: #fff;
    --nav: #292929;
    --input-color: #1c1c1c;
    --table-color: #1c1c1c;
    --table-color-nd: rgb(248, 248, 248);
    --red: #ff4d4d;
    --red-hover: #ff4343;
    --green: #5dd64d;
    --green-hover: #60e642;
    --bg-code: rgba(0, 0, 0, .05);
    --previewImage: url('/static/previews/AufgabenViewDark.png');
    --previewSchuelerImage: url('/static/previews/AufgabeDark.png');
    --previewLehrerImage: url('/static/previews/AufgabeLehrerDark.png');
    --previewLehrerMobileImage: url('/static/previews/AufgabeLehrerMobileDark.png');
    --previewAufgabenMobileImage:  url('/static/previews/AufgabenMobileDark.png');
    --previewBg: #333;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    color: var(--font-color);
    background-color: var(--bg-color);
}

.topnav {
    overflow: hidden;
}

.menu{
    float: right;
    display: block;
    color: var(--font-color);
    text-align: center;
    padding: 11px 24px;
    text-decoration: none;
    font-size: 24px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.menu #logout{ 
    margin-right: 1.5rem;
}

.topnav{
    padding: 30px 20px;
}

.topnav a {
    position:relative;
    color:var(--black);
    text-decoration:none;
    white-space:nowrap
}

.topnav a:hover {
    opacity: 0.8;
}

.topnav .icon {
    display: none;
}

.burger{
    color: #f2f2f2;
}

.modeSwitcher{
    float: left;
    margin-top: -10px;
    margin-left: 10px;
}

.light{
    color: rgb(38, 57, 110);
    cursor: pointer;
}

.light:hover{
    color: rgb(51, 74, 136);
}

.dark{
    color: rgb(228, 186, 72);
    cursor: pointer;
}

.dark:hover{
    color: rgb(235, 194, 84);
}

#checkbox{
    display:block;
    opacity:0;
    width: 10px;
    height: 10px;
}

.legend{
    height: 30px;
    border-radius: 12px;
    margin-top: 0.7rem;
    padding: 11px 24px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    font-size: 0.9rem;
}
.legend p{
    margin-top: 5px;
    color: var(--font-color);

}

.leftest{
    margin-left: 20px;
}

.second{
    margin-top: 4px;
    margin-left: 15px;
    margin-right: 40px;
}
.third{
    margin-top: 4px;
    margin-left: 0px;
}
.fourth{
    margin-top: 4px;
    margin-left: -100px;
}
.fith{
    margin-top: 4px;
    margin-left: -65px; 
    margin-right: 40px;
}
.sixth{
    margin-top: 4px;
    margin-left: 40px;
}

#home{
    margin-top: 2rem;
}

.full{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    text-align: left;
}

.half{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 0 auto;
    width: 100%;
    text-align: left;
    margin-top: 6rem;
}


.split{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    justify-items: end;
}

.tripple{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 0 auto;
    width: 90%;
    text-align: left;
    margin-top: 6rem;
}

.card{
    border-radius: 6px;
    width: 100%;
    text-align: center;
    position: relative;
}

.card__innerPadding{
    padding: 1rem 1rem;
    overflow: hidden;
    /* background-color: var(--primary-color); */
    border-radius: 10px;
    color: var(--font-color)
}

.card__innerPadding h1{
    font-size: 30px;
    margin-top: 10px;
}

.card__innerPadding p{
    font-size: 17px;
}

.card__inner{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    display: grid;
}

.flex{
    display: flex;
    width: 90%;
}

.hero {
    display:grid;
    justify-items:center;
    grid-gap:0.8rem;
    margin:2rem 0;
    padding:0 10%;
    text-align:center
}
@media (max-width:1200px) {
    .hero {
        padding:0
    }
}
@media (max-width:600px) {
    .hero {
        margin-top:10vh
    }
}
.hero__buttons {
    display:grid;
    justify-items:center;
    grid-gap:1rem
}
.hero__button {
    display:inline-block;
    position:relative;
    padding:1rem 2.5rem;
    background:radial-gradient(farthest-corner at var(--x,0) var(--y,0),var(--primary-color-hover),var(--primary-color));
    line-height:1;
    text-decoration:none;
    text-align:center;
    white-space:nowrap;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border:0;
    border-radius:100px
}
.hero__button:after {
    content:"";
    position:absolute;
    left:3px;
    right:3px;
    top:3px;
    bottom:3px;
    background:var(--bg-color);
    border-radius:inherit;
    opacity:.9;
    transition:opacity .6s cubic-bezier(.51,.92,.24,1)
}
.hero__button span {
    position:relative;
    color:var(--black);
    z-index:1
}
.hero__button:hover:after {
    opacity:.8
}
.hero__line {
    width:1px;
    height:50px;
    background:var(--black);
    margin: 0;
}
.p4 {
    font-size:.8em;
    line-height:1.4;
    margin: 0;
}
.link {
    position:relative;
    color:var(--black);
    text-decoration:none;
    white-space:nowrap
}
.link:after {
    content:"";
    position:absolute;
    height:2px;
    left:0;
    right:0;
    top:100%;
    background: var(--primary-color);
    transition:transform .3s cubic-bezier(.51,.92,.24,1)
}
.link:hover:after {
    transform:translateY(2px)
}
.link:active:after {
    transform:translateY(1px);
    transition:none
}
.underline {
    position:relative;
    color:currentColor;
    text-decoration:none;
    transition:color .3s cubic-bezier(.51,.92,.24,1)
}
.underline:after {
    --scale:0;
    content:"";
    position:absolute;
    left:0;
    right:0;
    top:100%;
    height:2px;
    background:linear-gradient(135deg,#73fac8,#00bee1);
    transform:scaleX(var(--scale));
    transform-origin:var(--x) 50%;
    transition:transform .3s cubic-bezier(.51,.92,.24,1)
}
.underline:hover {
    color:#fff
}
.underline:hover:after {
    --scale:1
}

button{
    border: 0;
    outline: 0;
    cursor: pointer;
    margin: auto;
    margin-left: 0px;
    margin-right: -30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--primary-color);
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 17px;
    padding: 12px 15px;
    width: 150px;
}

.description{
    margin: auto;
    width: 700px;
}

.subText{
    margin: auto;
    margin-top: 2rem;
    text-align: center;
}

.sideNote{
    margin: auto;
    vertical-align: middle;
    text-align: center;
    max-width: 500px;
}

.separator {
    height: 1px;
    width: 100%;
    background: var(--table-color);
    border: 0;
    box-shadow: 0 1px 0 hsla(0,0%,100%,.05);
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.bottom{
    margin-top: 6rem;
    margin-bottom: 0;
}

.previewBig{
    /* background-image: var(--previewImage);
    background-repeat: no-repeat; 
    max-width: 1180px; 
    height: 715px;  */
    margin: auto;
    padding: 30px 30px;
}

.previewBig img{
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
    padding: 0;
    box-shadow: 0 2px 74px 0 rgba(0,0,0,.4);
}

.previewRight img{
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
    padding: 0;
    box-shadow: 0 2px 74px 0 rgba(0,0,0,.4);
}

.leftSmall{
    width: 300px; /*or your image's width*/
    height: 450px; /*or your image's height*/
    padding: 0;
    text-align: center;
}

.rightSmall{
    width: 300px; /*or your image's width*/
    height: 450px; /*or your image's height*/
    margin: auto;
    padding: 0;
    text-align: center;
}

.previewSmall img{
    max-width: 100%;
    max-height: 730px;
    width: 300px; 
    height: 450px; 
    margin: auto;
    display: block;
    padding: 0;
    box-shadow: 0 2px 74px 0 rgba(0,0,0,.4);
}

.footer {
    justify-content: end;
    width: 90%;
}

.footer a{
    text-decoration: none;
    color: var(--font-color);
    margin: 10px;
    text-align: left;
}

.footer a:hover{
    color: var(--primary-color-hover)
}

.footer h1{
    margin: 5px;
}

.footer p {
    margin: 5px;
}

@media screen and (max-width: 1100px) {
    .half{
        display:flex;
        flex-direction:column-reverse;
        justify-content: space-around;
        align-self:stretch;
        margin-left: 0px;
        gap:.5rem;
        margin-top: 1rem;
    }
    .card__inner{
        position: relative;
        left: auto;
        top: auto;
        transform: none;
        margin: auto;
    }
    .split{
        width: 70%;
        margin: auto;
    }
    .previewRight img{
        max-width: 90%;
    }
    .leftSmall{
        margin: auto;
    }
    .rightSmall{
        margin: auto;
    }

    .footer{
        justify-content: center !important;
    }

    .footerHalf{
        flex-direction: row;
    }

    body{
        font-size: 1rem;
    }
    .description{
        width: 500px;
    }
    .full{
        padding: 0px 0px;
    }
    .flex{
        width: 100%;
    }
    .card__innerPadding p{
        font-size: 15px;
    }
}

@media screen and (max-width: 950px) {
    .card__innerPadding h1{
        font-size: 25px;
    }
    .card__innerPadding p{
        font-size: 12px;
    }
}

@media screen and (max-width: 880px) {
    .card__innerPadding h1{
        font-size: 30px;
    }
    .card__innerPadding p{
        font-size: 16px;
    }
    .tripple{
        grid-template-columns: 1fr;
        margin: auto;
    }
    .flex{
        display: inline-block;
        width: 70%;
        margin: auto;
    }
    .topnav a{
        font-size: 18px;
    }
    .menu{
        padding: 10px 10px;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    #checkboxIcon{
        margin-right: 20px;
    }
    .footer h1{
        font-size: 23px;
    }
    .footer p {
        font-size: 14px;
    }
    .footer a {
        font-size: 16px;
    }
    .hero__button{
        padding: 1rem 1.5rem;
        font-size: 18px;
    }
    .card__innerPadding{
        padding: 10px 10px;
    }
    .card__innerPadding h1{
        font-size: 20px;
    }
    .card__innerPadding p{
        font-size: 15px;
    }
    
}

@media screen and (max-width: 850px) {
    .split{
        width: 90%;
    }
    .flex{
        width: 80%;
    }
}

@media screen and (max-width: 750px) {
    .flex{
        width: 90%;
    }
    .rightSmall{
        display: none;
    }
    .split{
        grid-template-columns: 1fr;
    }
    .separator{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .tripple{
        margin-top: 4rem;
        padding: 5px 5px;
    }
    .description{
        width: 85%;
    }
    .footer{
        margin-bottom: 1rem;
    }
    .footerHalf{
        flex-direction: column-reverse;
    }
    .bottom{
        margin-top: 4rem;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 500px) {
    .logo{
        margin-left: -0.5rem;
        margin-right: 0rem;
    }
    .logo span{
        margin-left: 0rem;
    }
    .topnav a.icon {
        margin-left: -0.5rem;
        margin-right: 0.5rem;
    }
    
}
